@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    font-family: 'Poppins';
}

.countdown-container span{
  text-align: center;
  font-size: 100px;
  padding: 2rem;
}

.timer {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time {
  margin-top: 23rem;
  text-align: center;
  font-weight: bold;
  font-size: 6rem;
}
