@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    font-family: 'Poppins';
}

.countdown-container span{
  text-align: center;
  font-size: 90px;
  padding: 3rem;
}

.timer {
  color: white;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.time {
  margin-top: 15rem;
  text-align: center;
  font-weight: bold;
  font-size: 10rem;
  color: white;
  background-color: black;
}
